/* Remove Angular Material default borders */
.mat-mdc-table,
.mat-mdc-row,
.mat-mdc-header-row,
.mat-mdc-cell,
.mat-mdc-header-cell {
  border: none !important;
}

/* Remove row divider line */
.mat-mdc-row::after {
  display: none !important;
}
.mat-mdc-cell {
  background-color: #ffffff !important;
}
.mat-mdc-header-cell {
  background-color: #f0f0f0 !important;
  
}
.mat-mdc-paginator {
  border: none;
}

/* Align paginator nicely */
.mat-mdc-paginator-container {
  justify-content: flex-end;
  padding-right: 24px;
}

/*this is to prevent the default style of pagination*/
::ng-deep .mat-mdc-paginator-container {
  display: none !important;
}

/* Ensure the host element itself doesn't take up space */
mat-paginator {
  display: none !important;
}