<section class="w-76 h-main-height p-6 items-center justify-between bg-steel-blue text-white">
    <div class="w-64 h-64 gap-10 flex flex-col items-center">
        <span class="text-2xl font-poppins font-medium leading-none">Logo</span>
        <div class="w-full h-44 gap-4">
            <ul class="text-white">

                <li class="flex  font-poppins font-semibold text-base pt-3 pr-4 pb-3 pl-4 gap-4 rounded"  routerLinkActive="bg-button">
                    <img src="NavHomeIcon.png" alt="HomeIcon" class="w-5 h-5">
                    <a routerLink="/home" >Home</a>
                </li>
                <li class="flex font-poppins font-semibold text-base pt-3 pr-4 pb-3 pl-4 gap-4" routerLinkActive="bg-button">
                    <img src="NavTimerIcon.png" alt="HomeIcon" class="w-5 h-5">
                    <a routerLink="/history" >History</a>
                </li>
                <li class="flex  font-poppins font-semibold text-base pt-3 pr-4 pb-3 pl-4 gap-4"routerLinkActive="bg-button">
                    <img src="NavNotebookIcon.png" alt="HomeIcon" class="w-5 h-5">
                    <a routerLink="/TempletManagement" >Templet management</a>
                </li>
            </ul>

        </div>
    </div>
</section>