<div class="flex w-section-width h-20  pt-4 pr-6 pb-4 pl-6 border-b border-offwhite">
    <div class="flex justify-between w-homenotice-width h-12 gap-2.5">
        <div class="w-header-text-width h-12 gap-2">
            <span class="font-poppins font-semibold text-3xl leading-none">{{title}}</span>
        </div>
        <div class="w-header-text-width h-10 flex justify-between">
            <div class="w-72 h-10 gap-2">

            </div>
            <div class="w-40 h-10 rounded-full flex items-center justify-center bg-light-gray p-2 gap-2">
                <img src="loginProfile.jpg" alt="login profile"
                    class="w-6 h-6 rounded-3xl  gap-0.5 border-0">
                <div class="w-20 h-7 flex flex-col gap-1">
                    <span class=" w-20 h-3.5 font-medium text-xs leading-tight text-charcoal-gray">James smith </span>
                    <span class="w-7 h-2.5 font-normal leading-tight text-[8px] text-medium-gray">Admin</span>
                </div>
                <img src="loginProfileDownArrow.png" alt="loginProfileDownArrow" class="w-6 h-6">

            </div>
        </div>

    </div>
</div>