<div class="flex w-section-width h-20 pt-4 pr-6 pb-4 pl-6 border-b border-offwhite">
  <div class="flex justify-between w-homenotice-width h-12 gap-2.5">
    <div class="w-header-text-width h-12 gap-2">
      <span class="font-poppins font-semibold text-3xl leading-none">{{ title }}</span>
    </div>
    <div class="w-header-text-width h-10 flex items-center justify-end gap-3">
      <button
        type="button"
       (click)="logout()"
        class="flex justify-around border w-24 h-8 rounded-lg font-inter font-semibold text-base items-center bg-button text-white cursor-pointer"
      >
        LogOut
      </button>
      <app-profile></app-profile>
    </div>
    
  </div>
</div>
