<section class="w-76 h-main-height p-6 items-center justify-between bg-steel-blue text-white">
    <div class="w-64 h-64 gap-10 flex flex-col items-center">
        <span class="text-2xl font-poppins font-medium leading-none">Logo</span>
        <div class="w-full h-44 gap-4">
            <ul class="text-white">

                <li class="flex  font-poppins font-semibold text-base pt-3 pr-4 pb-3 pl-4 gap-4 rounded cursor-pointer"  [class.bg-button]="isHomeActive()" routerLink="/app/home">
                    <img src="NavHomeIcon.png" alt="HomeIcon" class="w-5 h-5">
                    <span >Home</span>
                </li>
                <li class="flex font-poppins font-semibold text-base pt-3 pr-4 pb-3 pl-4 gap-4 rounded cursor-pointer" [class.bg-button]="isHistoryActive()" routerLink="/app/history">
                    <img src="NavTimerIcon.png" alt="HomeIcon" class="w-5 h-5">
                    <span >History</span>
                </li>
                <li class="flex  font-poppins font-semibold text-base pt-3 pr-4 pb-3 pl-4 gap-4 rounded cursor-pointer"routerLinkActive="bg-button" routerLink="/app/template-management">
                    <img src="NavNotebookIcon.png" alt="HomeIcon" class="w-5 h-5">
                    <span >Templet management</span>
                </li>
            </ul>

        </div>
    </div>
</section>